.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  position: relative; /* Added for positioning child elements */
  border: 1px solid #dadada;
  background-color: var(--background-color);
  overflow: hidden; /* Ensures content doesn't overflow the card */
  text-align: center;
}

.cards .cards-card-body >p> strong{
  font-size: 26px;
  
}
.cards .cards-card-body {
  position: absolute; /* Positions the body absolutely within the card */
  top: 0;
  color:white;
  margin: 26px;
  padding: 26px;
}
.cards .cards-card-image {
  line-height: 0;
}
.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
